@charset "utf-8";
body { margin: 0px; padding: 0px; font-size: 12px; color: #333; font-family: Arial, "宋体";}
ul, li, form, p, dl, dt, dd, ul, ol, h1, h2, h3, h4, h5, h6, input, textarea, button, img {padding: 0px;margin: 0px;list-style: none;}
img {border: 0px;}
a:link {color: #333;text-decoration: none;}
a:visited {color: #333;text-decoration: none;}
a:hover {color: #ac1116;text-decoration: underline;}
a:active {color: #333;text-decoration: none;}
.font1 {font-size: 14px;font-weight: bold;color: #D20000;}
.font2 {color: #999;}
.font3{font-size:14px; font-weight:bold; color:#D20000; font-family:"&#24494; &#36719; &#38597; &#40657; "}
.font4{font-size:12px; font-weight:bold; color:#D20000; font-family:"&#24494; &#36719; &#38597; &#40657; "}
.font5{font-size:12px; color:#9A1414; font-family:"&#24494; &#36719; &#38597; &#40657; "}
.font6{color:#a10000}
.font7{text-decoration:line-through}
.font8{color:#2C63BE; font-weight:bold}
.font9{line-height:25px; font-weight:bold; font-size:15px; font-family:"&#24494; &#36719; &#38597; &#40657; "}
.font10{color:#D20000}
.font11{font-weight:bold; color:#888}
.font12{font-size:18px; font-weight:bold; color:#D20000; font-family:"&#24494; &#36719; &#38597; &#40657; "}
.font13{font-weight:bold; font-size:16px; font-family:"&#24494; &#36719; &#38597; &#40657; "}
.font14{font-weight:bold; color:#666; font-size:14px; font-family:"&#24494; &#36719; &#38597; &#40657; "}
.font15{font-weight:normal; color:#666; font-size:12px}
.font16{color:#0086c4; font-weight:bold}
.font17{color:#0086c4}
.font18{font-size:14px; font-weight:bold; color:#a10000}
.font19{font-weight:bold; color:#D20000; font-size:14px; font-family:"&#24494; &#36719; &#38597; &#40657; "}
.font20{font-weight:normal}
.font21{font-size:12px; font-weight:normal; color:#666}
.input1{width:260px; height:20px; line-height:20px; padding-left:5px; border:1px solid #DADCE0; background:#fff url(/images/inputbg.gif) repeat-x}
.input2{width:40px; height:20px; line-height:20px; padding-left:5px; border:1px solid #DADCE0; background:#fff url(/images/inputbg.gif) repeat-x}
.input3{width:148px; height:20px; line-height:20px; padding-left:5px; border:1px solid #DADCE0; background:#fff url(/images/inputbg.gif) repeat-x}
.input4{width:200px; height:20px; line-height:20px; padding-left:5px; border:1px solid #DADCE0; background:#fff url(/images/inputbg.gif) repeat-x}
.input5{width:180px; height:23px; line-height:23px; padding-left:5px; border:1px solid #DADCE0; background:#fff url(/images/inputbg.gif) repeat-x}
.input6{width:40px; height:20px; line-height:20px; text-align:center; border:1px solid #DADCE0}
.input7{border:1px solid #aaa; background-color:#f3f3f3; width:40px; height:20px; padding:0px; margin:0px}
table.tab1 td{line-height:30px}
table.tab2 td{line-height:20px; padding:6px 0px}
table.tab3 td{border-bottom:1px dashed #ddd; padding:6px 0px; line-height:20px}
.hd{margin:0px auto; height:28px; background:url(/images/wx_02.gif) repeat-x}
table.tab4 td{padding:6px 0px}
table.tab5{margin-top:25px}
table.tab5 td{line-height:30px; padding:3px 0px}
.tab6, .tab6 td{border:1px solid #E4E7E9; border-collapse:collapse; line-height:25px}
.tab7 td{padding-left:6px; padding-top:5px}
.hd-cont{width:980px; height:28px; line-height:28px; margin:0px auto}
.hd-wel{float:left; color:#ae8d8f}
.hd-login{float:right; width:400px}
.hd-login ul li{float:right; padding:0px 15px 0px 0px}
.hd-cont .hd-login ul li a{color:#ae8d8f}
.box{margin:0px auto; width:980px}
.banner{padding:18px 0px 10px 0px; zoom:1}
.logo-img{float:left; padding-right:30px}
.search{float:left; width:366px; padding-top:6px}
.s-input{border:3px solid #ce0002; height:28px}
.sch{height:28px; float:left; width:324px}
.sch input{width:308px; line-height:26px; height:26px; border:0px; padding-left:8px}
.sbtn{float:left; width:36px; background-color:#ce0002}
.hot-keyword{padding-top:8px; height:20px}
.hot-keyword ul li{float:left; padding:0px 15px 0px 0px}
.hot-keyword ul li.kw{padding:0px}
.cedt{float:right; width:228px}
.cedt table, .cedt table td{border-collapse:collapse; border:1px solid #e5e5e5}
.cedt table td{padding:5px 5px 8px 5px}
.clear{border-top:1px solid transparent !important; margin-top:-1px !important; border-top:0; margin-top:0; clear:both}
.nav{height:36px; background:url(/images/wx_24.gif) repeat-x}
.navbox{margin:0px auto; width:980px; height:36px}
.navbox .mainnav{float:left; width:530px}
.navbox .mainnav a{float:left; display:block; line-height:34px; height:34px; padding:0px 18px; background:url(/images/wx_26.gif) no-repeat right; font-weight:bold; white-space:nowrap; color:#fff; font-size:14px; text-decoration:none}
.navbox .mainnav a.last{background:none}
.navbox .mainnav a.curr{background:#333 url(/images/wx_26.gif) no-repeat right}
.navbox .mainnav a:hover{background:#333 url(/images/wx_26.gif) no-repeat right}
.cart{float:right; width:202px; padding-top:2px}
.cart-num{float:left; position:relative; z-index:100; height:24px; background:url(/images/cart_30.gif) no-repeat; width:104px; padding-left:34px; line-height:24px}
.cart-form{position:absolute; z-index:10000; left:-108px; top:24px; border:3px solid #a71d22; padding:10px; width:280px; background-color:#fff}
.cart-bx{border-bottom:1px dashed #ddd; padding:8px 0px}
.cart-goodsimg{border:1px solid #eee; width:50px; float:left}
.cart-goodsname{float:left; width:213px; padding-left:10px; line-height:20px}
.cart-hj{padding:8px 0px; line-height:20px; height:30px}
.cart-btn{float:left; width:60px}
.sum{float:left}
.cart-to-js{float:right}
.cart-num #cartbox .cart-hj .cart-to-js a{display:block; width:73px; height:29px; line-height:29px; text-decoration:none; background:url(/images/cartbtn.gif) no-repeat; padding-left:40px; color:#fff; font-size:14px}
.other{float:right; width:272px; height:36px; background:url(/images/wx_26.jpg) no-repeat left top; padding-left:48px}
.otherbox{width:272px; background-color:#333; height:34px; line-height:34px}
.otherbox ul li{float:left; padding:0px 10px; background:url(/images/ge_03.gif) no-repeat right center}
.navbox .other .otherbox ul li a{color:#ff9f00}
.otherbox ul li.end{background:none}
.box2{margin:0px auto; background-color:#eae8e4}
.box3{margin:0px auto; width:980px; overflow:hidden}
.container{width:980px; margin:0px auto; background-color:#fff}
.focus{position:relative; float:left; width:696px; height:400px; border:1px solid #ddd; overflow:hidden}
.focus a img{width:696px; height:400px; border:0px}
.bd{padding:15px 0px; height:120px; width:266px; overflow:hidden}
.td_f a img{padding:0px; margin:0px}
.num{position:absolute; right:10px; bottom:6px; right:6px}
.num li{float:left; text-align:center; height:16px; margin:0px 3px; padding:0px 5px; color:#CC0606; border:1px solid #cc0606; background-color:#fff; cursor:pointer}
.num li.on{background-color:#cc0606; border:1px solid #A00; color:#fff}
.tod-act{float:right; width:266px; padding-right:6px}
.today{width:266px; border:1px solid #ddd}
.today-h{height:34px; border-bottom:1px solid #920006; background:url(/images/wx1_03.jpg) no-repeat 6px 8px}
.hp-carousel-cata{width:266px; overflow:hidden}
.hp-carousel-cata .hd2{height:28px; line-height:28px; margin-bottom:12px; background-color:#fff}
.hp-carousel-cata .act{float:right; padding-right:10px}
.hp-carousel-cata .act ul{width:37px; height:14px; overflow:hidden; background:url(/images/hp_sprite.gif) no-repeat 0 0; margin-top:10px}
.hp-carousel-cata .act .prev, .hp-carousel-cata .act .next{float:left; width:18px; height:14px; cursor:pointer; text-indent:-999em}
.hp-carousel-cata .j-sw-clip{width:242px; height:122px; overflow:hidden; margin-left:16px}
.hp-carousel-cata .j-sw-c li{float:left; padding:0px 10px; margin-bottom:12px}
.hp-carousel-cata .j-sw-c li img{width:95px; height:120px; border:1px solid #fff}
.bulletin{margin:10px 0 0 0; border:1px solid #ddd}
.blt-h{height:25px; padding-top:4px; padding-left:10px; background:url(/images/bg1.gif) repeat-x; line-height:25px}
.blt-h span{float:left; display:block; padding:0px 8px; height:25px; cursor:pointer}
.blt-h span.curr{border:1px solid #d5d5d5; border-bottom:0px; background-color:#fff}
.blt-cont{padding:12px 5px 11px 10px}
.blt-cont ul li{padding-left:10px; line-height:25px; background:url(/images/bg.png) no-repeat 0px 11px}
.slide{position:relative; z-index:1; height:250px; border:1px solid #a5a6b3; padding:15px 18px 15px 15px}
.slide ul li.norm{float:left; display:block; width:189px; height:216px; text-align:center; padding:25px 0px}
.slide ul li img{padding:2px; border:1px solid #e0e0e0}
.slide ul li.curr{float:left; display:block; text-align:center; width:221px; height:267px; padding:0px}
.slide-pre{position:absolute; z-index:100; width:26px; height:35px; top:130px; left:-1px; background:url(/images/bg.png) no-repeat -26px -39px}
.slide-pre a, .slide-next a{display:block; width:26px; height:35px}
.slide-next{position:absolute; z-index:100; width:26px; height:35px; top:130px; right:-1px; background:url(/images/bg.png) no-repeat 0px -39px}
.slide-ad{height:200px; position:relative}
.slide-ad ul li img{border:1px solid #000}
.tp{padding-top:15px}
.ad-btn{position:absolute; z-index:100; right:1px; top:50px; height:102px}
.ad-btn span{display:block; height:34px; width:150px; padding:0px 0px 0px 0px; margin:0px; padding:0px; overflow:hidden}
.ad-btn span.ad-btn1{background-color:#000}
.ad-btn span.ad-btn2{background-color:#636363}
.ad-btn span.ad-btn3{background-color:#9a9a9a}
.slide-ad .ad-btn span a{line-height:34px; color:#fff; display:block; padding:0px 30px 0px 10px; background:url(/images/bg.png) no-repeat right -263px; text-decoration:none}
.prodbox{padding:20px 0 0 0}
.ad-btn span a:hover{line-height:34px; color:#fff; display:block; padding:0px 30px 0px 10px; background:#A80202 url(/images/bg.png) no-repeat right -263px}
.prodbox{padding:20px 0 0 0}
.prod-tit{height:47px; background:url(/images/bg2_05.gif) repeat-x bottom}
.titbg2{background:url(/images/red.gif) repeat-x bottom}
.titbg3{background:url(/images/green.gif) repeat-x bottom}
.titbg4{background:url(/images/org.gif) repeat-x bottom}
.prod-t-h{float:left; height:40px; overflow:hidden; width:150px; background:url(/images/bg.png) no-repeat 10px -76px; *background-position:left -75px}
.h-bg{background:url(/images/bg.png) no-repeat 10px -119px; *background-position:10 px-118px}
.h-bg2{background:url(/images/bg.png) no-repeat 10px -161px; *background-position:10px -160px}
.h-bg3{background:url(/images/bg.png) no-repeat 10px -204px; *background-position:10px -203px}
.prod-n-more{float:left; width:804px; height:20px; padding-top:15px; padding-right:15px; white-space:nowrap}
.prod-n-more ul li{float:right; padding:0px 10px; background:url(/images/xi_03.gif) no-repeat right; white-space:nowrap}
.prod-n-more ul li.cm{width:70px; margin-top:-5px; height:26px; background:url(/images/bg.png) no-repeat left -261px; line-height:26px; padding-right:15px; padding-left:0px; text-align:center}
.prod-n-more ul li a{color:#888}
.prod-bd{margin:20px 15px; padding:10px; height:600px; border:1px solid #007394}
.men-l{float:left; width:530px}
.men-p{float:left; width:265px; height:161px; padding-bottom:10px}
.men-p .pro-pic{float:left; width:122px; height:146px}
.men-p .pro-pic a{display:block; width:120px; height:144px; overflow:hidden; border:1px solid #eee}
.men-p .pro-pic a:hover{border:1px solid #D00}
.men-p .men-cont{float:left; padding-left:10px; width:122px; line-height:20px}
.prod-ct{float:left; width:195px; padding-right:0px}
.men-bd{padding:10px 0px; height:216px}
a.productimg{display:block; width:160px; height:192px; border:1px solid #e0e0e0}
a.productimg:hover{border:1px solid #D00}
.men-bd-b{float:left; width:165px; padding:0px 10px}
.men-bd-b img{}
.pro-n{padding:8px 0 0 0}
.men-bd-b .pro-n p{height:20px; line-height:20px; width:165px; overflow:hidden}
.pad{padding:0px; height:580px; border:1px solid #940000}
.pad4{padding:10px 0 0 0}
.pad5{padding:0px; height:600px; border:1px solid #097d00}
.pad6{padding:0px; height:580px; border:1px solid #ff7200}
.pad2{padding:0px 10px}
.pad7{padding:20px 10px 0px 10px}
.pad3{padding-bottom:10px}
.pad8{padding:10px 0 40px 0}
.pad9{padding:15px 0 15px 0}
.pad10{padding-top:0px}
.pad11{margin:0px 0px 10px 0px}
.pad12{padding:20px 0px 20px 30px}
.floorMain{position:relative; height:300px; background-color:#000}
.floorMain a{position:absolute}
.floorMain a.item1{left:0; top:0}
.floorMain a.item2{left:237px; top:0}
.floorMain a.item3{left:237px; top:150px}
.floorMain a.item4{left:474px; top:0px}
.floorMain a.item5{left:711px; top:0px}
.floorMain a.item6{left:711px; top:150px}
.floorMain a.hover{}
.picm{filter:alpha(opacity = 75); -moz-opacity:0.75; -khtml-opacity:0.75; opacity:0.75}
.picm2{filter:alpha(opacity = 100); -moz-opacity:0; -khtml-opacity:1; opacity:1}
.mask{position:absolute; background:#000; opacity:0; filter:alpha(opacity = 0); left:0; top:0; width:237px}
.m1{height:300px}
.m2{height:300px}
.m3{height:300px}
.m4{height:300px}
.sweet{padding:0 0 15px 0}
.floorMain a.qv1{left:0; top:0}
.floorMain a.qv2{left:264px; top:0}
.floorMain a.qv3{left:264px; top:220px}
.floorMain a.qv4{left:413px; top:220px}
.floorMain a.qv5{left:562px; top:220px}
.floorMain a.qv6{right:0px; top:0px}
.floorMain a.qv7{right:0px; top:220px}
.brand{border-top:4px solid #b4b4b4; height:288px}
.left-brand{float:left; width:364px; height:273px; background-color:#000}
.left-brand ul li{float:left; display:blockl; width:91px; height:91px; overflow:hidden}
.left-brand ul li img{border-bottom:1px solid #ddd; border-right:1px solid #ddd}
.rgt-p{float:left; padding:0px 0px 0px 8px; width:603px}
.rgt-p .brand-pro{float:left; width:170px; padding-left:16px; padding-top:20px}
.rgt-p .brand-pro .brand-proimg a{display:block; border:1px solid #ddd; background:url(/images/bg3.gif) repeat-x; padding:4px}
.rgt-p .brand-pro .brand-proimg a:hover{border:1px solid #d00}
.rgt-p .brand-pro p{height:20px; padding-top:8px; line-height:20px; width:190px; overflow:hidden}
.brand-ad{float:right; width:200px; background-color:#f7f7f7; height:288px; border-left:1px solid #e0e0e0}
.help-center{padding:55px 0 0 0; margin:0px auto; background:url(/images/footbg.gif) repeat-x}
.help-center-box{width:980px; margin:0px auto}
.help-center dl{float:left}
.help-center dl{width:150px; padding-left:8px}
.help-center .help-center-service{width:122px}
.help-center-acount{border-left:1px solid #f6f6f6; width:158px; height:164px; padding-left:28px; float:left; background:url(/images/contact.jpg) no-repeat 10px 15px}
.help-center-acount p{visibility:hidden}
.help-center dl a{color:#999}
.help-center dl a:hover{color:#C00}
.help-center dt{height:18px; line-height:99em; overflow:hidden; margin-bottom:14px; background:url(/images/help.png) no-repeat}
.help-center dd{line-height:1.9}
.help-center-about dt{background-position:0px 0px}
.guarantee{padding:20px 0}
.guarantee-cont{background:url(/images/gut.jpg) no-repeat center; width:900px; height:55px; overflow:hidden; margin:0 auto}
.guarantee-cont ul{visibility:hidden}
.help-info{float:left; width:150px; padding-left:8px; padding-top:18px}
.help-tit{height:18px; margin-bottom:14px}
.help-center-about{background-position:0px 0px}
.help-center-novice{background-position:0px -19px}
.help-center-pay{background-position:0px -40px}
.help-center-exp{background-position:0px -60px}
.help-center-service{background-position:0px -79px}
.help-info ul li{line-height:22px}
.help-info ul li a{color:#999}
.help-info ul li a:hover{color:#a10000}
.pubcertify{margin-left:auto; margin-right:auto; width:500px; text-align:center; height:45px}
.pubcertify a{float:left; display:block; height:45px; text-indent:-99em; margin-right:10px; overflow:hidden; zoom:1; background:url(/images/help.png) no-repeat}
.pubcertify a.pubcertify:after{content:""; clear:both; height:0; visibility:hidden; display:block}
.pubcertify a.pubcertify-mast{width:64px; width:58px; background:url(/images/help.png) no-repeat 0px -100px}
.pubcertify a.pubcertify-visa{width:58px; background-position:0px -148px}
.pubcertify a.pubcertify-visashop{width:83px; background-position:0px -190px}
.pubcertify a.pubcertify-safe{width:46px; background-position:0px -234px}
.pubcertify a.pubcertify-gscer{width:40px; background-position:right -236px}
.pubcertify a.pubcertify-credit{background-position:0px -282px; width:114px; height:41px !important}
.copyright{padding:20px 0 40px 0; text-align:center}
#bottom-cart{margin:0px auto; width:900px; border:2px solid #9D1111; height:36px; background:url(/images/help.png) no-repeat 10px -322px}
.cart-info{width:690px; padding:8px 0px; height:20px; padding-left:200px}
.cart-info .forpay{float:left; padding-right:40px; width:100px}
.cart-info .forpay .forpay-b{border:1px solid #d0d0d0; padding:2px 8px; height:16px}
.cart-info .forpay .forpay-b span{float:left; display:block; line-height:16px; padding:0px 10px 0px 0px; float:left; border-right:1px solid #ddd}
.cart-info .forpay .forpay-b a{display:block; line-height:16px; float:right; padding:0px 8px 0px 0px; color:#9A0505; font-weight:bold}
.w980{width:980px; height:190px}
.cart-info .coll2{padding-left:50px; width:120px}
.return-top{float:right; padding:5px 0px; width:15px; background:url(/images/help.png) no-repeat 0px -360px}
.return-top a{display:block; width:15px; height:15px}
.pages{padding:10px 0 10px 0; height:30px; text-align:center}
.pages a{border:1px solid #ccc; padding:3px 7px; margin:2px; color:#000; text-decoration:none; line-height:15px}
.pages a:hover{BORDER-RIGHT:#f0f0f0 1px solid; BORDER-TOP:#f0f0f0 1px solid; BORDER-LEFT:#f0f0f0 1px solid; COLOR:#000; BORDER-BOTTOM:#f0f0f0 1px solid}
.pages a:active{BORDER-RIGHT:#f0f0f0 1px solid; BORDER-TOP:#f0f0f0 1px solid; BORDER-LEFT:#f0f0f0 1px solid; COLOR:#000; BORDER-BOTTOM:#f0f0f0 1px solid}
.pages a.fanye{border:1px solid #a10000; background-color:#a10000; color:#fff}
.pages span.current{border:1px solid #a10000; padding:3px 7px; FONT-WEIGHT:bold; MARGIN:2px; COLOR:#fff; background-color:#a10000}
.pages span.fanye{border:1px solid #a10000; background-color:#a10000; color:#fff; padding:2px 5px; margin:2px; text-decoration:none}


.clear { clear: both; }


.aui_outer { text-align:left; }
table.aui_border, table.aui_dialog { border:0; margin:0; border-collapse:collapse; width:auto; }
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_c, .aui_e, .aui_sw, .aui_s, .aui_se, .aui_header, .aui_tdIcon, .aui_main, .aui_footer { padding:0; }
.aui_header, .aui_buttons button { font: 12px/1.11 'Microsoft Yahei', Tahoma, Arial, Helvetica, STHeiti; _font-family:Tahoma,Arial,Helvetica,STHeiti; -o-font-family: Tahoma, Arial; }
.aui_title { overflow:hidden; text-overflow: ellipsis; }
.aui_state_noTitle .aui_title { display:none; }
.aui_close { display:block; position:absolute; text-decoration:none; outline:none; _cursor:pointer; }
.aui_close:hover { text-decoration:none; }
.aui_main { text-align:center; min-width:9em; min-width:0\9/*IE8 BUG*/; }
.aui_content { display:inline-block; *zoom:1; *display:inline; text-align:left; border:none 0; }
.aui_content.aui_state_full { display:block; width:100%; margin:0; padding:0!important; height:100%; }
.aui_loading { width:96px; height:32px; text-align:left; text-indent:-999em; overflow:hidden; background:url(/images/loading.gif) no-repeat center center; }
.aui_icon { vertical-align: middle; }
.aui_icon div { width:48px; height:48px; margin:10px 0 10px 10px; background-position: center center; background-repeat:no-repeat; }
.aui_buttons { padding:8px; text-align:right; white-space:nowrap; }
.aui_buttons button { margin-left:15px; padding: 6px 8px; cursor: pointer; display: inline-block; text-align: center; line-height: 1; *padding:4px 10px; *height:2em; letter-spacing:2px; font-family: Tahoma, Arial/9!important; width:auto; overflow:visible; *width:1; color: #333; border: solid 1px #999; border-radius: 5px; background: #DDD; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD'); background: linear-gradient(top, #FFF, #DDD); background: -moz-linear-gradient(top, #FFF, #DDD); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#DDD)); text-shadow: 0px 1px 1px rgba(255, 255, 255, 1); box-shadow: 0 1px 0 rgba(255, 255, 255, .7),  0 -1px 0 rgba(0, 0, 0, .09); -moz-transition:-moz-box-shadow linear .2s; -webkit-transition: -webkit-box-shadow linear .2s; transition: box-shadow linear .2s; }
.aui_buttons button::-moz-focus-inner{ border:0; padding:0; margin:0; }
.aui_buttons button:focus { outline:none 0; border-color:#426DC9; box-shadow:0 0 8px rgba(66, 109, 201, .9); }
.aui_buttons button:hover { color:#000; border-color:#666; }
.aui_buttons button:active { border-color:#666; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#FFFFFF'); background: linear-gradient(top, #DDD, #FFF); background: -moz-linear-gradient(top, #DDD, #FFF); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), to(#FFF)); box-shadow:inset 0 1px 5px rgba(66, 109, 201, .9), inset 0 1px 1em rgba(0, 0, 0, .3); }
.aui_buttons button[disabled] { cursor:default; color:#666; background:#DDD; border: solid 1px #999; filter:alpha(opacity=50); opacity:.5; box-shadow:none; }
button.aui_state_highlight { color: #FFF; border: solid 1px #1c6a9e; background: #2288cc; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc'); background: linear-gradient(top, #33bbee, #2288cc); background: -moz-linear-gradient(top, #33bbee, #2288cc); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc)); text-shadow: -1px -1px 1px #1c6a9e; }
button.aui_state_highlight:hover { color:#FFF; border-color:#0F3A56; }
button.aui_state_highlight:active { border-color:#1c6a9e; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc'); background: linear-gradient(top, #33bbee, #2288cc); background: -moz-linear-gradient(top, #33bbee, #2288cc); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc)); }
/* common end */


/*浮层CSS 开始*/

/*artdialog*/
.aui_inner { background:#FFF; }
.aui_outer, .aui_inner { border:1px solid #A10000; border:1px solid #A10000; }
.aui_border { box-shadow: inset 0 0 1px rgba(255, 255, 255, .9); }
.aui_nw, .aui_ne, .aui_sw, .aui_se { width:0px; height:0px; }
.aui_nw, .aui_n, .aui_ne, .aui_w, .aui_e, .aui_sw, .aui_s, .aui_se { background:rgba(0, 0, 0, .4); background:#000\9!important; filter:alpha(opacity=40); }
.aui_state_lock .aui_nw, .aui_state_lock .aui_n, .aui_state_lock .aui_ne, .aui_state_lock .aui_w, .aui_state_lock .aui_e, .aui_state_lock .aui_sw, .aui_state_lock .aui_s, .aui_state_lock .aui_se { background:rgba(0, 0, 0, .5); background:#000\9!important; filter:alpha(opacity=50); }
.aui_state_focus .aui_dialog { box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); }
/*.aui_state_focus .aui_outer { box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); }*/
.aui_state_lock .aui_border { box-shadow:0 3px 26px rgba(0, 0, 0, .9); }
.aui_state_drag .aui_outer, .aui_outer:active { box-shadow:none; }
.aui_titleBar { position:relative; height:100%; }
.aui_title { height:28px; line-height:27px; padding:0 28px 0 10px; text-shadow:0 1px 0 rgba(255, 255, 255, .7); background-color:#edf5f8; font-weight:bold; color:#95a7ae; font-family: Tahoma, Arial/9!important; background-color:#bdc6cd; background: linear-gradient(top, #edf5f8, #bdc6cd); background: -moz-linear-gradient(top, #edf5f8, #bdc6cd); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#edf5f8), to(#bdc6cd)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edf5f8', endColorstr='#bdc6cd'); border-top:1px solid #edf5f8; border-bottom:1px solid #b6bec5; }
.aui_state_focus .aui_title { color:#4c5a5f; }
.aui_state_drag .aui_title { background: linear-gradient(top, #bdc6cd, #edf5f8); background: -moz-linear-gradient(top, #bdc6cd, #edf5f8); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bdc6cd), to(#edf5f8)); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdc6cd', endColorstr='#edf5f8'); box-shadow:none; }
.aui_state_drag .aui_titleBar { box-shadow:none; }
.aui_close { padding:0; top:4px; right:4px; width:21px; height:21px; line-height:21px; font-size:18px; color:#68767b; text-align:center; font-family: Helvetica, STHeiti; _font-family: Tahoma, '\u9ed1\u4f53', 'Book Antiqua', Palatino; text-shadow:0 1px 0 rgba(255, 255, 255, .9); }
.aui_close:hover { background:#C72015; color:#FFF; }
.aui_close:active { box-shadow: none; }
.aui_content { color:#666; }
.aui_state_focus .aui_content { color:#000; }
.aui_buttons { background-color:#F6F6F6; border-top:solid 1px #DADEE5; }
.aui_state_noTitle .aui_nw, .aui_state_noTitle .aui_ne, .aui_state_noTitle .aui_sw, .aui_state_noTitle .aui_se { width:2px; height:2px; }
.aui_state_noTitle .aui_inner { border:1px solid #a10000; background:#FFF; }
.aui_state_noTitle .aui_outer { border:none 0; box-shadow:none; }
.aui_state_noTitle .aui_nw, .aui_state_noTitle .aui_n, .aui_state_noTitle .aui_ne, .aui_state_noTitle .aui_w, .aui_state_noTitle .aui_e, .aui_state_noTitle .aui_sw, .aui_state_noTitle .aui_s, .aui_state_noTitle .aui_se { background:rgba(0, 0, 0, .05); background:#000\9!important; filter:alpha(opacity=5)!important; }
.aui_state_noTitle .aui_titleBar { bottom:0; _bottom:0; _margin-top:0; }
.aui_state_noTitle .aui_close { top:0; right:0; width:18px; height:18px; line-height:18px; text-align:center; text-indent:0; font-size:18px; text-decoration:none; color:#214FA3; background:none; filter:!important; }
.aui_state_noTitle .aui_close:hover, .aui_state_noTitle .aui_close:active { text-decoration:none; color:#900; }
.aui_state_noTitle .aui_dialog { box-shadow: none; }

form,ul,li,dl,dt,dd,ol,p,h1,h2.h3,h4,h5,input{ padding:0px; margin:0px; list-style:none;}
a:link{ color:#333; text-decoration:none;}
a:visited{ color:#333; text-decoration:none;}
a:hover{ color:#a10000; text-decoration: underline;}
a:active{color:#333; text-decoration:none;}

/*收藏浮层*/
.popfont2{ color:#a10000;}
.popfont3{ color:#a10000; font-size:14px; font-weight:bold;}
.popfont4{ color:#333;}
.popfont5{ color:#999;}
.popfont6{ color:#a10000; font-weight:bold;}
.topinfo .topicon,.pop-close,.topinfo .topicon2{ background:url(/images/bg.gif) no-repeat}
.popupDIV{ width:450px; height:276px; border:1px solid #a10000; background-color:#fff;}
.topinfo{ height:50px; padding:15px 0px 0px 40px; position:relative; border-bottom:1px dashed #ddd;}
.topinfo .topicon{ display: block; float:left; width:40px; height:33px; background-position:0px 0px;  }
.topinfo .topicon2{ display: block; float:left; width:40px; height:33px; background-position:-68px 0px;  }
.topinfo p{ float:left; height:27px; line-height:27px; font-size:14px; font-weight:bold; padding-top:6px;}
.topinfo p .popfont1{ font-size:12px; font-weight:normal; color:#a10000;}
.pop-close{ position:absolute; right:6px; top:6px; width:16px; height:16px; background-position:-39px -11px; cursor:pointer;}
.pop-t{ padding:10px 8px 8px 15px; height:18px; line-height:18px; width:427px; overflow:hidden;}
.pop-t .pop-b{ display:block; float:left; font-weight:bold; color:#666;}
.commentDIV .pop-t .pop-c{ display:block; float:right; color:#a10000;}
.pop-goods{ padding:8px 0px 0px 15px; margin:0px; width:435px; overflow:hidden;}
.pop-goods li img{ border:0px;}
.pop-goods li{ float:left; width:74px; padding-right:12px; line-height:18px;}
.pop-goods li .pop-img a{ display:block; width:70px; height:84px; border:1px solid #ccc;}
.pop-goods li .pop-img a:hover{ display:block; width:70px; height:84px; border:1px solid #a10000;}
.pop-goods li p{ height:50px; overflow:hidden; margin:5px 0px;}

.close-cm,.cmt-button,.p-cont-g .p-cont-btn .goshopping,.p-cont-btn .gocash,.p-cont-pf .p-cont-star .p-star-full,.p-cont-pf .p-cont-star .p-star-emp,.pop-btn,.show-goods{ background:url(/images/bg-b.gif) no-repeat;}
.commentDIV{ border:1px solid #a10000; width:470px; padding:1px; color:#666;}

.commentDIV .tit{ height:30px; line-height:30px; position:relative; background-color:#990d2c; padding:0px 0px 0px 10px; font-size:14px; font-weight:bold; color:#fff;}
.close-cm{ position:absolute; right:5px; top:6px; width:18px; height:16px; background-position:-2px -72px;cursor:pointer;}
.cmt-gname{ padding:15px 0px 8px 20px; border-bottom:1px dashed #ddd;}
.cmtbox{ padding:10px 20px 15px 20px; border-bottom:1px dashed #ddd;}
.cmtbox2{ padding:10px 20px 15px 40px; border-bottom:1px dashed #ddd;}
.cmtbox dl{ height:28px; padding:0px; margin:0px; display:block;}
.cmtbox dl dt{ float:left; width:82px; height:19px; line-height:19px; padding:0px 0px 0px 0px; overflow:hidden;}
.cmtbox dl dd{ float:left; height:19px; width:23px; background:url(/images/at.gif) no-repeat;}
.cmtbox dl dd.pop{ background:url(/images/c-bg_03.gif) no-repeat;}
.bdbox{ vertical-align:middle;}
.bdlabel{ vertical-align:middle;}
.cmt-title{ line-height:30px;}
.popinput1{ height:23px; line-height:23px; padding:0px 6px; width:400px; border:1px solid #ddd;}
.popinput2{ height:20px; line-height:20px; padding:0px 6px; width:200px; border:1px solid #d0d0d0; background:url(/images/xian_03.gif) repeat-x;}
.popinput3{ height:20px; line-height:20px; padding:0px 6px; width:60px; border:1px solid #d0d0d0; background:url(/images/xian_03.gif) repeat-x;}
.poparea1{ height:60px; line-height:23px; padding:0px 6px; width:400px; border:1px solid #ddd;}
.popinput4{ height:25px; line-height:25px; padding:0px 6px; width:340px; border:1px solid #ddd;}
.poparea2{ height:60px; line-height:20px; padding:6px; width:340px; border:1px solid #ddd;}
.cmt-tip{ line-height:20px; padding-bottom:10px;}
.cmt-btn{ text-align:center;}
.cmt-button{ width:100px; height:27px; background-position:0px -99px; font-size:14px; font-weight:bold; color:#fff; border:0px; }
.commentDIV .tit .lgrg li{ float:left; padding:0px 15px; cursor:pointer;}
.commentDIV .tit .lgrg .curr{ background-color:#c34848;}
.lgrgbox{ padding:35px 0px 20px 0px;}
.lgrgbox td{ line-height:45px;}
.lgrgbox td a{ color:#144896; text-decoration:underline;}
.mistake{ padding-left:140px; color:#C40000; padding-bottom:15px;}
.lgrg-tip{ line-height:22px;}
.lgrg-tip a{color:#144896; text-decoration:underline; }
.lgrg-tip p{ padding:10px 0 0 0;}
#lgrg2 .zhuce{ margin:30px 0px; }
#lgrg2 .zhuce td{ line-height:25px; padding-bottom:10px;}
.mstk{ color:#a10000}
.rg-yes,.rg-no{ display:block; width:18px; height:20px; background:url(/images/rg.gif) no-repeat; background-position:0px -35px;}
.rg-no{ background-position:0px 2px;}
#lgrg2 .zhuce td a{ color: #1349A4}


.addto-goods{ padding:15px 20px 10px 20px; width:430px; overflow:hidden;  border-bottom:1px dashed #ddd;}
.p-img-g{ float:left; width:139px; height:115px;}
.p-img-g img{ border:1px solid #bbb;}
.p-cont-g{ float:left; width:290px; line-height:20px;}
.p-cont-g2{ float:left; width:290px; line-height:30px;}
.p-cont-g p{ height:40px; width:290px; overflow:hidden;}
.p-cont-g p a{font-weight:bold; color:#666; }
.p-cont-price{ padding-bottom:15px; border-bottom:1px dashed #ddd;}
.p-cont-btn{ padding:15px 0 0 0; height:40px; overflow:hidden}
.p-cont-g .p-cont-btn .goshopping,.p-cont-btn .gocash{ display:block; float:left; width:96px; height:32px; line-height:32px; text-align:center; background-position:0px 0px; color:#fff; font-weight:bold; font-size:14px; margin-right:8px;}
.p-cont-btn .gocash{ background-position:0px -31px; color:#333;}
.p-cont-pf .p-pf-text{ float:left;}
.p-cont-pf .p-cont-star{ float:left; width:100px; padding-top:5px; height:25px;}
.p-cont-pf .p-cont-star .p-star-full{ float:left; width:18px; height:25px; background-position:-33px -73px;}
.p-cont-pf .p-cont-star .p-star-emp{float:left; width:25px; height:25px; background-position:-49px -73px;}
.p-cont-pf .p-pf-text a{ color:#305FAB}
.questbox{ padding:15px 20px;}
.queat-ms td{ padding:0px 0px 6px 0px; line-height:25px;}
.queat-ms2 td{ padding:0px 8px 8px 0px; line-height:25px;}
.post-q-btn{text-align:right;}
.pop-btn{ width:96px; height:32px; line-height:32px; border:0px; text-align:center; background-position:0px 0px; color:#fff; font-weight:bold; font-size:14px; margin-right:8px;}
.show-goods{ position:relative; z-index:100; height:25px; line-height:25px; width:370px; border:1px solid #ddd; padding:0px 20px 0px 5px; background-position:378px -143px; color:#000;}
.show-goods-box{ position:absolute; z-index:1000; top:24px; left:-1px; width:395px; border:1px solid #ddd; border-top:0px; background-color:#fff;}
.show-goods .show-goods-box dl{ border-top:1px dashed #ddd; padding:8px 15px; height:48px; }
.show-goods .show-goods-box dt{ float:left; width: 45px; height:45px; border:1px solid #eee;}
.show-goods .show-goods-box dd{ float:left; padding-left:15px; width:200px; line-height:20px; color:#333;}
.more-sdgoods{ height:25px; background-color:#e7e7e7; line-height:25px; text-align:center;}
.more-sdgoods a{ color:#235B94}
.word-num{ height:20px; line-height:20px; padding-right:5px; padding-top:5px;}
.word-num-w{ float:left; color:#a10000;}
.word-num-tip{ float:right; color:#888;}
.upload-btnp{ height:25px; }
.show-o-w{ width:538px;}

/*浮层CSS 结束*/