.scj{width:100%; height:auto; margin-bottom:10px; float:left}
.scj .main{width:100%; padding:0px 1px 1px 1px; float:left}
.scj .title{width:100%; ; height:28px; padding:12px 10px 0px 10px; background:url(http://wunxin.com/images/k_r_tg2.png) no-repeat top; float:left}
.scj .title h2{width:175px; height:15px; background:url(http://wunxin.com/images/z_scj.png) no-repeat; text-indent:-999em; float:left}
.scj .main .tab{width:97%; ; height:25px; background:url(http://wunxin.com/images/tab_lan2.png) repeat-x 0px -25px; margin:10px 10px 0px 10px; display:inline; float:left}
.scj .main .tab a{width:98px; height:25px; line-height:25px; text-align:center; background:url(http://wunxin.com/images/tab_lan3.png) no-repeat -101px 0px; margin-right:3px; display:inline; color:#333; float:left}
.scj .main .tab a.act{width:98px; height:25px; line-height:25px; text-align:center; background:url(http://wunxin.com/images/tab_lan3.png) no-repeat 0px 0px; margin-right:3px; display:inline; color:#333; font-weight:bold; float:left}
.scj .main .list-m{width:97%; padding:0px 10px 0px 10px; float:left}
.scj .main .list-b{width:97%; margin:0 0 0 10px; background:#f3f3f3; border-top:1px #e3e3e3 solid; float:left; height:35px}
.scj .main h2{clear:both; min-height:21px; _height:21px; line-height:21px; padding-left:23px; background:url(http://wunxin.com/images/ico_arrow2.png) no-repeat 5px 5px #efefef; border:1px #e6e6e6 solid; font-size:12px; color:#ccc; font-weight:normal; margin-bottom:10px}
.scj .main h2 a{color:#468fa2; display:inline-block}
.scj .main h2 a.act{color:#e8044f; font-weight:bold}
.scj .main .list-m table .act{background:#d0dce4}
.scj .main .list-m .tablein .act{background:none}
.scj .main .list-box{width:788px; padding:0px 0px 0px 10px; float:left}
.scj .main .list-box li{width:122px; height:148px; border:1px #e6e6e6 solid; margin:0px 7px 7px 0px; display:inline; float:left; overflow:hidden; position:relative}
.scj .main .list-box .act{background:#d0dce4}
.scj .main .list-box li img{width:80px; height:50px; display:block; margin:15px auto}
.scj .main .list-box li h3{width:114px; height:18px; background:#f4f4f4; color:#333; font-size:12px; text-align:center; margin:0 auto; white-space:nowrap; overflow:hidden}
.scj .main .list-box li p{width:114px; height:18px; padding-top:10px; line-height:18px; color:#999; font-size:12px; text-align:center; margin:0 auto; white-space:nowrap; overflow:hidden}
.scj .main .list-box li b{height:20px; display:block; position:absolute; right:5px; bottom:0px; bottom:5 px\9; line-height:20px}
.scj .main .list-foot{width:776px; height:38px; background:#f8f8f8; border:1px #ccc solid; margin:10px; display:inline; float:left}
.scj .main .list-foot .li-1{width:37px; padding-top:12px; *padding-top:8px; text-align:center; float:left}
.scj .main .list-foot .li-2{width:500px; padding:10px 0px 1px 0px; float:left}
.scj .main .list-foot .li-3{width:200px; padding:10px 10px 1px 0px; text-align:right; float:right}
.scj .main .list-none{clear:both; padding:200px 0px; text-align:center}
.imgbox{zoom:1; position:relative}
.imgbox p{height:14px; line-height:14px; font-size:12px; padding:2px 0px 0px 0 px\9; background:#e8044f; text-align:center; color:#fff; position:absolute; bottom:0px; left:0px; overflow:hidden; display:block}
.page{color:#666; font-size:12px; padding:10px; text-align:right}
.table2{border:1px solid #E6E6E6; border-collapse:collapse; margin-bottom:10px}
.table2 thead{background:none repeat scroll 0 0 #EFEFEF; color:#333; height:18px; line-height:18px; padding:2px 5px; text-align:left}
.table2 td, .table2 th{border-bottom:1px solid #E6E6E6; font-weight:normal; padding:5px}
.table2 td{color:#666; text-align:left}
.table2 tfoot{background:none repeat scroll 0 0 #F8F8F8; font-weight:bold; text-align:center}
.btn_s1_z7{background:url("http://wunxin.com/images/btn_s1_z7.png") repeat-x scroll 0 0 transparent;  border:0 none;  color:#FFF;  cursor:pointer;  display:inline-block;  font-size:12px;  height:20px;  line-height:20px;  margin:0;  padding:0;  text-align:center;  width:102px}