@charset "utf-8";
.process{ height:33px; background-color:#e9e9e9;}
.process ul li{ float:left; height:33px; line-height:33px; text-align:center; width:300px; background:url(http://wunxin.com/images/shoppingbg.png) no-repeat right -292px; padding-left:26px; font-size:15px; color:#777; font-weight:bold; font-family:"微软雅黑";}
.process ul li.curr{ color:#fff; background:#333 url(http://wunxin.com/images/shoppingbg.png) no-repeat; background-position: right -325px; _background-position:right -324px;}
.process ul li.curr2{ color:#fff; background:#333;}
.process ul li.current{ background:#333 url(http://wunxin.com/images/flu_03.gif) no-repeat left top;  width:302px; color:#fff;}
.process ul li.last{ background:none; width:302px;}
.process ul li.last2{  background: url(http://wunxin.com/images/buy_bg_03.gif) no-repeat left; width:302px;}
.process ul li.bgcart{ background:url(http://wunxin.com/images/shoppingbg.png) no-repeat; background-position: right -259px; _background-position: right -258px;}
h1.shoppingitem{ padding:8px 6px; font-size:26px; font-family:"微软雅黑"; color:#aaa; font-weight:normal;}
.shopping-cart{ width:978px; border:1px solid #ddd;}
.shopping-cart table{ border:1px solid #ddd;}
.shopping-cart table td{ border-bottom:1px dashed #ddd; padding:5px 8px; line-height:18px;}
.shopping-cart table td.tit{ height:24px; line-height:24px; border-bottom:1px solid #ddd; padding:0px; background:url(http://wunxin.com/images/bg2_03.gif) repeat-x; font-size:14px; color:#888;}
.shopping-cart table td a.gn{ color:#1859a5;}
input.gnum{ border:1px solid #ccc; height:16px; line-height:16px; width:30px; text-align:center;}
.gsum{ padding:6px 15px; text-align:right;}
.empty{ float:left; height:30px; padding-top:4px; width:90px;}
.empty a{ display:block; height:30px; line-height:30px; padding-left:25px; background:url(http://wunxin.com/images/shoppingbg.png) no-repeat -135px 0px; _background-position:-135px 0px;}
.empty a:hover{background:url(http://wunxin.com/images/shoppingbg.png) no-repeat -135px -23px; _background-position:-135px -23px;}
.storage{ float:left; padding-left:20px; padding-top:7px; width:200px; overflow:hidden;}
.st-d{ float:left; width:66px; background:url(http://wunxin.com/images/btn-bg.gif) no-repeat; height:21px; padding-right:6px;}
.st-a{ float:left; width:66px; background:url(http://wunxin.com/images/btn-bg.gif) no-repeat; height:21px; padding-right:6px;}
.st-d a{ display:block; height:21px; width:30px; line-height:22px; padding-left:30px; text-decoration:none; background:url(http://wunxin.com/images/store.png) no-repeat 5px 2px; _background-position:5px 3px;}
.st-d a:hover{ display:block; height:21px; width:30px; padding-left:30px; background:url(http://wunxin.com/images/store.png) no-repeat 5px -19px; _background-position:5px -18px;text-decoration:none;}
.st-a a{ display:block; height:21px; width:30px; line-height:22px; padding-left:30px; background:url(http://wunxin.com/images/store.png) no-repeat 5px -46px; _background-position:5px -45px;}
.st-a a:hover{ display:block; height:21px; width:30px; padding-left:30px; text-decoration:none; background:url(http://wunxin.com/images/store.png) no-repeat 5px -69px; _background-position:5px -68px;}
.post-btn{ float:right; text-align:right; padding:0px 15px 10px 0px; width:300px;}
.other-shopping{ margin:15px 0px 0px 0px; border:1px solid #ddd; width:978px; overflow:hidden;}
.other-shopping .tit{ height:24px; padding-left:15px; line-height:24px; border-bottom:1px solid #ddd; background:url(http://wunxin.com/images/bg2_03.gif) repeat-x; font-size:13px; color:#666; font-weight:bold;}
.other-c{ position:relative; z-index:1; padding:15px 30px; width:918px; overflow:hidden}
.other-cg{height:230px; width:918px; overflow:hidden;}
.other-c .rq{ float:left; width:122px; padding:0px 15px 0px 16px; line-height:16px;}
.other-c .rqimg img{ border:1px solid #eee;}
.other-c .rqimg{ padding-bottom:6px;}
.other-c .rq p{ padding-bottom:6px;}
.other-pre{ position:absolute; z-index:100; width:22px; height:100px; top:40px; left:0px; background:url(http://wunxin.com/images/shoppingbg.png) no-repeat 0px 0px; }
.other-pre a{ display:block; width:22px; height:100px; text-indent:-99em;}
.other-next{ position:absolute; z-index:100; width:22px; height:100px; background:url(http://wunxin.com/images/shoppingbg.png) no-repeat; background-position:-22px 0px; _background-position:-21px 0px; top:40px; right:0px;}
.other-next a{ display:block; width:22px; height:100px; text-indent:-99em;}
.switch{ text-align:right; padding:10px 15px 0px 0px;}
.other-c .switch a{ line-height:20px; padding:0px 4px; border:1px solid #ddd; color:#888; margin-right:5px; text-decoration:none;}
.other-c .switch a.curr{ background-color:#a10000; color:#fff;border:1px solid #a10000; }
.tips{ padding:15px 0px 20px 0px;}
.order-c{ padding:25px 10px 25px 100px; background:url(http://wunxin.com/images/shoppingbg.png) no-repeat 55px -382px;}
.order-c p{ font-size:24px; color:#a10000; font-family:"微软雅黑";  padding-bottom:8px;}
.payment{ padding:20px 40px 20px 55px;}
.payment p{ padding:15px 0px 5px 0px; font-family:"微软雅黑"; }
.payment-b{ float:left; width:220px; height:60px;}
.payment-c{ width:883px; overflow:hidden; padding:10px 0px 0px 0px;}
.pradio{ float:left; width:30px; height:30px; padding-top:14px;}
.bankpic{ float:left; width:159px; height:42px; border:1px solid #eee;}
.banktu{ float:left; border:1px solid #a10000;}
.bankpic a{ display:block; width:157px; height:40px; overflow:hidden; text-indent:-99em; border:1px solid #eee; background:url(http://wunxin.com/images/bank.jpg) no-repeat;}
.bankpic span{ display:block; width:157px; height:40px; overflow:hidden; text-indent:-99em; background:url(http://wunxin.com/images/bank.jpg) no-repeat;}
.bankpic a:hover{ border:1px solid #a10000;}
.bankpic span#onlinepay{ background-position:0px -48px;}
.bankpic span#icbc{ background-position:0px -96px;}
.bankpic span#cmb{ background-position:0px -144px;}
.bankpic span#boc{ background-position:0px -190px;}
.bankpic span#ccb{ background-position:0px -238px;}
.bankpic span#abc{ background-position:0px -286px;}
.bankpic span#cgb{ background-position:0px -334px;}
.bankpic span#cmbc{ background-position:0px -382px;}
.bankpic span#cib{ background-position:right -286px;}
.bankpic span#bob{ background-position:0px 0px;}
.bankpic span#bjrcb{ background-position:right -238px;}
.bankpic span#psbc{ background-position:right -192px;}
.bankpic span#bcomm{ background-position:right -144px;}
.bankpic span#spdb{ background-position:right -94px;}
.bankpic span#sdb{ background-position:right -46px;}
.bankpic span#cebb{ background-position:right 0px;}
.bankpic span#pingan{ background-position:0px -430px;}
.bankpic span#ecitic{ background-position:0px -476px;}
.bankpic span#hzb{ background-position:0px -528px;}
.bankpic span#nbcb{ background-position:right -334px;}
.bankpic span#alipay{ background-position:right -382px;}
.bankpic span#cmpay{ background-position:right -430px;}
.bankpic span#tenpay{ background-position:right -478px;}
.topay{ padding:0px 15px; text-align:right;}
.consignee{ padding:15px 20px 15px 50px; line-height:25px;}
.consigneeList{ border:1px solid #e3e3e3; overflow:hidden;}
.consignee .consigneeList a{ display:block; line-height:30px; height:30px; border-bottom:1px solid #f6f6f6; text-decoration:none; cursor:pointer;}
.consignee .consigneeList a:hover{ background-color:#f9fbfd;}
.consignee .consigneeList a span{ display:block; float:left; height:30px; line-height:30px; padding:0px 20px 0px 0px;}
.consignee .consigneeList a span.xzradio{ height:20px; padding:7px 10px 0px 10px; _padding:3px 10px 0px 10px;}
.address{ padding:10px 0px 6px 11px; border-bottom:1px dashed #ddd; margin-bottom:10px;}
.other-shopping .tab1 tr td a.btn-save{ display:block; float:left; padding:4px 15px; line-height:20px; background-color:#a10000; color:#fff; font-size:14px; font-weight:bold; text-decoration:none;}
.other-shopping .tab2 tr td a.btn-save{ display:block; float:left; padding:4px 15px; line-height:20px; background-color:#a10000; color:#fff; font-size:14px; font-weight:bold; text-decoration:none;}
.borders{ border-top:1px solid #eee;}
.paybox{ padding:15px 10px 15px 40px;}
.postal{ line-height:20px; padding:10px 0 0 0;}
.cartlist{ padding:20px 40px;}
.cartlist .tab3 tr td a.gn2{ color:#1859a5;}
.sy2{ padding:6px 0 6px 0;}
.invo{ display:block; width:136px; height:31px; cursor:pointer; background:url(http://wunxin.com/images/shoppingbg.png) no-repeat 0px -144px;}
.sybox{ background-color:#fff; border:1px solid #e0e0e0; padding:15px; margin-bottom:15px;}
.ordermark{display:block; width:136px; height:31px; cursor:pointer;  background:url(http://wunxin.com/images/shoppingbg.png) no-repeat 0px -108px;}
.order-info{ line-height:20px; width:898px; overflow:hidden;}
.order-sum{ float:right; width:300px; text-align:right;}
.order-fj{ float:left; width:400px;}
.other-shopping .tit.borders span{ color:#a10000; cursor:pointer;}
.other-shopping .tit span{ color:#a10000; cursor:pointer;}
.tta{ width:350px;}
.topost{ padding:18px 0px 20px 0px; text-align:right;}

.promo-btn .promo-join,.promo-btn .promo-join span{ background:url(http://wunxin.com/images/bg_buycarsprite2.gif) no-repeat;}
.promo-tit .act-zhe,.promo-tit .act-zeng,.promo-tit .act-jian,.cuxiao-l .scol-l,.cuxiao-r .scol-r{ background: url(http://wunxin.com/images/bg_sprite.gif) no-repeat;}
.slidebox{ float:left; width:970px; height:120px; overflow:hidden;}
.slideContainer{ height:120px; width:928px;}
.slideDiv{float:left; width:217px; height:105px; border:4px solid #eee; margin:0 7px 0 0;}
.promo-tit{ height:30px; line-height:30px; width:215px;}
.promo-tit .act-zhe{ float:left; display:block; height:30px; width:30px; background-position:-560px 0px; }
.promo-tit .act-zeng{ float:left; display:block; height:30px; width:30px; background-position:-500px 0px; }
.promo-tit .act-jian{ float:left; display:block; height:30px; width:30px; background-position:-620px 0px; }
.promo-txt{ float:left; display:block; width:184px; height:28px; overflow:hidden;}
.slideDiv .promo-tit .promo-txt a{color:#D90000; font-weight:bold;}
.promo-img{ float:left; width:62px; height:62px; padding-left:5px; overflow:hidden;}
.promo-img img{border:1px solid #eee;}
.promo-cont{ float:left; width:142px; padding-left:4px;}
.promo-cont p{width:136px; height:36px; line-height:18px; overflow:hidden; display:block;}
.promo-btn{ height:22px; width:142px; padding-top:14px;}
.promo-save{ display:block; float:left; width:75px; height:22px; padding-left:4px; line-height:22px; white-space:nowrap;font-weight:bold; color:#D90000; overflow:hidden;}
.promo-cont .promo-btn .promo-join{ float:left; display:block; width:62px; height:22px; line-height:22px; background-position: -73px -370px; color:#fff; font-weight:bold; text-decoration:none;}
.promo-btn .promo-join span{ float: left; display:block; width:3px; height:22px; background-position:-58px -370px;}
.cuxiao .cuxiaotit{ width:958px; height:25px; line-height:25px; border-bottom:1px dashed #ddd; padding:0px 10px; font-weight:bold;}
.cuxiao .cuxiaotit .hidden-cx{ float:right; display:block; font-weight:normal; color:#2F58A4; cursor:pointer; }
.cuxiaoBox{  width:966px; height:125px; padding:10px 6px;}
.cuxiao-l{ float:left; width:24px; height:75px; padding-top:40px;}
.cuxiao-r{ float:left; width:14px; height:75px; padding-top:40px;}
.cuxiao-l .scol-l{ display:block; width:14px; height:26px; background-position:-291px -40px; cursor:pointer;}
.cuxiao-r .scol-r{ display:block; width:14px; height:26px; background-position:-315px -40px;cursor:pointer;}
.cartitem{ height:24px; background: url(http://wunxin.com/images/bg2_03.gif) repeat-x; border-top:1px solid #ddd;}
.cartitem .colm{ float:left; height:24px; line-height:24px; text-align:center;}
.cartitem .c-goods,.cartregion .cartRow .cart-goods{ width:460px;}
.cartitem .c-price,.cartregion .cartRow .cart-price{ width:80px; }
.cartitem .c-size,.cartregion .cartRow .cart-size{ width:100px;}
.cartitem .c-numb{ width:130px;}
.cartitem .c-zengjf,.cartregion .cartRow .cart-zengjf{ width:100px;}
.cartitem .c-subtotal,.cartregion .cartRow .cart-subtotal{ width:100px;}
.cartregion{ width:978px; overflow:hidden;}
.cartregion .cartRow{width:978px; height:74px; border-bottom:1px dotted #ddd;}
.cartregion .cartRow .cartCell{ float:left; height:74px;}
.cart-gimg{ float:left; width:50px; height:60px; padding:6px 10px;}
.cart-gimg img{ border:1px solid #eee;}
.cart-gname{ float:left; width:380px; padding:4px 0px; line-height:22px;}
.cartCell.cart-goods .cart-gname .cart-gn{ color:#1859a5;}
.cartregion .cartRow .cart-price,.cartregion .cartRow .cart-size,.cartregion .cartRow .cart-zengjf{ line-height:74px; text-align:center;}
.cartregion .cartRow .cart-subtotal{line-height:74px; text-align:center; color:#a10000;}
.cartregion .cartRow .cart-numb{ width:130px; height:44px; padding-top:30px; text-align:center;}
.cartregion .cartRow .cart-numb a{ text-decoration:none;}
.joinactive{ width:978px;}
.joinactive .joinact-tit{ height:30px; background-color:#eee; padding:0px 10px; line-height:30px; font-weight:bold;}
.joinactive .cartRow2{width:978px; height:74px; border-bottom:1px dotted #ddd;}
.ja-img{ float:left; width:56px; padding:6px 10px;}
.ja-img img{ border:1px solid #eee;}
.joinactive .cartRow2 p{ float:left; width:890px; line-height:24px;}
.cart-accounts{ width:958px; height:40px; padding:8px 10px; border-top:1px solid #aaa;}
.cart-accounts .cart-clean{ float:left; width:400px;}
