@charset "utf-8";
body{ margin:0px; padding:0px; font-size:12px; color:#333; font-family: Arial,"宋体";}
ul,li,form,p,dl,dt,dd,ul,ol,h1,h2,h3,h4,h5,h6,input,textarea,button,img{ padding:0px; margin:0px; list-style:none;}
img{ border:0px;}
a:link{ color:#333; text-decoration:none;}
a:visited{color:#333; text-decoration:none;}
a:hover{color:#333; text-decoration: underline;}
a:active{ color:#333; text-decoration:none;}
.font1{ font-size:14px; font-weight:bold; color:#D20000;}
.font2{ color:#999;}
.font3{ font-size:14px; font-weight:bold; color:#D20000; font-family:"微软雅黑";}
.font4{ font-size:12px; font-weight:bold; color:#D20000; font-family:"微软雅黑";}
.font5{ font-size:12px;  color:#9A1414; font-family:"微软雅黑";}
.font6{ color:#a10000;}
.font7{ text-decoration:line-through;}
.font8{ color:#2C63BE; font-weight:bold;}
.font9{ line-height:25px; font-weight:bold; font-size:15px; font-family:"微软雅黑"; }
.font10{ color:#D20000;}
.font11{ font-weight:bold; color:#888;}
.font12{ font-size:18px; font-weight:bold; color:#D20000; font-family:"微软雅黑";}
.font13{ font-weight:bold;  font-size:16px; font-family:"微软雅黑"; }
.font14{ font-weight:bold; color:#666; font-size:14px; font-family:"微软雅黑"; }

.input1{ width:260px; height:20px;  line-height:20px; padding-left:5px; border:1px solid #DADCE0; background:#fff url(/images/inputbg.gif) repeat-x;}
.input2{ width:40px; height:20px; line-height:20px; padding-left:5px; border:1px solid #DADCE0; background:#fff url(/images/inputbg.gif) repeat-x;}
.input3{ width:148px; height:20px; line-height:20px; padding-left:5px; border:1px solid #DADCE0; background:#fff url(/images/inputbg.gif) repeat-x;}
.input4{ width:200px; height:20px; line-height:20px; padding-left:5px; border:1px solid #DADCE0; background:#fff url(/images/inputbg.gif) repeat-x;}
.input5{ width:180px; height:23px; line-height:23px; padding-left:5px; border:1px solid #DADCE0; background:#fff url(/images/inputbg.gif) repeat-x;}
table.tab1 td{ line-height:30px;}
table.tab2 td{ line-height:20px; padding:6px 0px;}
table.tab3 td{ border-bottom:1px dashed #ddd; padding:6px 0px; line-height:20px;}
.hd{ margin:0px auto; height:28px; background:url(/images/wx_02.gif) repeat-x;}
table.tab4 td{ padding:6px 0px;}
table.tab5{ margin-top:25px;}
table.tab5 td{ line-height:30px; padding:3px 0px;}
.hd-cont{ width:980px; height:28px; line-height:28px; margin:0px auto;}
.hd-wel{ float:left; color:#ae8d8f;}
.hd-login{ float:right; width:400px}
.hd-login ul li{ float:right; padding:0px 15px 0px 0px;}
.hd-cont .hd-login ul li a{color:#ae8d8f;}
.box{ margin:0px auto; width:980px;}
.banner{ padding:18px 0px 10px 0px; zoom:1;}
.logo-img{ float:left; padding-right:30px;}
.search{ float:left; width:366px; padding-top:6px;}
.s-input{ border:3px solid #ce0002; height:28px;}
.sch{ height:28px; float:left; width:324px;}
.sch input{ width:308px; line-height:26px; height:26px; border:0px; padding-left:8px;}
.sbtn{ float:left; width:36px; background-color:#ce0002;}
.hot-keyword{ padding-top:8px; height:20px;}
.hot-keyword ul li{ float:left; padding:0px 15px 0px 0px;}
.hot-keyword ul li.kw{ padding:0px;}
.cedt{ float:right; width:228px;}
.cedt table,.cedt table td{ border-collapse:collapse; border:1px solid #e5e5e5;}
.cedt table td{ padding:5px 5px 8px 5px;}
.clear{border-top:1px solid transparent !important;margin-top:-1px !important;border-top:0;margin-top:0; clear:both;}
.nav{ height:36px; background:url(/images/wx_24.gif) repeat-x;}
.navbox{ margin:0px auto; width:980px; height:36px;}
.navbox .mainnav{ float:left; width:530px;}
.navbox .mainnav a{ float:left; display:block; line-height:34px; height:34px; padding:0px 18px;background:url(/images/wx_26.gif) no-repeat right; font-weight:bold;  white-space:nowrap; color:#fff;font-size:14px; text-decoration:none;}
.navbox .mainnav a.last{ background:none;}
.navbox .mainnav a.curr{background:#333 url(/images/wx_26.gif) no-repeat right; }
.navbox .mainnav a:hover{background:#333 url(/images/wx_26.gif) no-repeat right; }
.cart{ float:right; width:202px; padding-top:2px;}
.cart-num{ float:left; position:relative; z-index:100; height:24px; background:url(/images/cart_30.gif) no-repeat; width:104px; padding-left:34px; line-height:24px;}
.cart-form{ position:absolute; z-index:10000; left:-108px; top:24px; border:2px solid #ececec; padding:10px; width:283px; background-color:#fff;}
.cart-bx{ border-bottom:1px dashed #ddd; padding:8px 0px; }
.cart-goodsimg{ border:1px solid #eee; width:50px; float:left;}
.cart-goodsname{ float:left; width:213px; padding-left:10px; line-height:20px;}
.cart-hj{ padding:8px 0px; line-height:20px; height:30px;}
.cart-btn{ float:left; width:60px;}
.sum{ float:left;}
.cart-to-js{ float:right;}
.cart-num #cartbox .cart-hj .cart-to-js a{ display:block; width:73px; height:29px; line-height:29px; text-decoration:none; background:url(/images/cartbtn.gif) no-repeat; padding-left:40px; color:#fff; font-size:14px; }
.other{ float:right; width:272px; height:36px; background:url(/images/wx_26.jpg) no-repeat left top; padding-left:48px;}
.otherbox{ width:272px; background-color:#333; height:34px; line-height:34px;}
.otherbox ul li{ float:left; padding:0px 10px; background:url(/images/ge_03.gif) no-repeat right center;}
.navbox .other .otherbox ul li a{ color:#ff9f00;}
.otherbox ul li.end{ background:none;}
.box2{margin:0px auto; background-color:#eae8e4;}
.container{ width:980px; margin:0px auto; background-color:#fff;}



.focus{ position:relative; float:left; width:696px; height:400px; border:1px solid #ddd; overflow:hidden;}
.focus a img{ width:696px; height:400px; border:0px;}
.bd{ padding:15px 0px; height:120px; width:266px; overflow:hidden;}
.td_f a img { padding:0px; margin:0px;}
.num {
	position:absolute;
    right:10px;
	bottom:6px;
	right:6px;
}
.num li { float:left; text-align:center; height:16px; margin:0px 3px; padding:0px 5px; color:#CC0606; border:1px solid #cc0606; background-color:#fff; cursor:pointer;}
.num li.on { background-color:#cc0606; border:1px solid #A00; color:#fff;}

.tod-act{ float:right; width:266px; padding-right:6px; }
.today{  width:266px; border:1px solid #ddd;  }
.today-h{ height:34px; border-bottom:1px solid #920006; background:url(/images/wx1_03.jpg) no-repeat 6px 8px;}
.hp-carousel-cata{width:266px;overflow:hidden}
.hp-carousel-cata .hd2{height:28px;line-height:28px;margin-bottom:12px;background-color:#fff}
.hp-carousel-cata .act{ float:right; padding-right:10px;}
.hp-carousel-cata .act ul{width:37px;height:14px;overflow:hidden;background:url(/images/hp_sprite.gif) no-repeat 0 0;margin-top:10px}
.hp-carousel-cata .act .prev,.hp-carousel-cata .act .next{ float:left;width:18px;height:14px;cursor:pointer;text-indent:-999em}
.hp-carousel-cata .j-sw-clip{width:242px;height:122px;overflow:hidden;margin-left:16px}
.hp-carousel-cata .j-sw-c li{float:left;padding:0px 10px;margin-bottom:12px;}
.hp-carousel-cata .j-sw-c li img{width:95px;height:120px;border:1px solid #fff}
.bulletin{ margin:10px 0 0 0; border:1px solid #ddd;}
.blt-h{ height:25px; padding-top:4px; padding-left:10px; background:url(/images/bg1.gif) repeat-x; line-height:25px;}
.blt-h span{ float:left; display:block; padding:0px 8px; height:25px; cursor:pointer;}
.blt-h span.curr{ border:1px solid #d5d5d5; border-bottom:0px; background-color:#fff;}
.blt-cont{ padding:12px 5px 11px 10px;}
.blt-cont ul li{ padding-left:10px; line-height:25px; background:url(/images/bg.png) no-repeat 0px 11px;}
.slide{ position:relative; z-index:1; height:270px; border:1px solid #a5a6b3; padding:15px 18px 15px 15px;}
.slide ul li.norm{ float:left; display:block; width:180px; height:216px; text-align:center; padding:25px 0px;}
.slide ul li img{ padding:2px; border:1px solid #e0e0e0;}
.slide ul li.curr{float:left; display:block; text-align:center; width:221px; height:267px; padding:0px;}
.slide-pre{ position:absolute; z-index:100; width:26px; height:35px; top:130px; left:-1px; background:url(/images/bg.png) no-repeat -26px -39px;}
.slide-pre a,.slide-next a{ display:block; width:26px; height:35px;}
.slide-next{ position:absolute; z-index:100; width:26px; height:35px; top:130px; right:-1px; background:url(/images/bg.png) no-repeat 0px -39px;}
.slide-ad{height:200px; position:relative;}
.slide-ad ul li img{ border:1px solid #000;}
.tp{ padding-top:15px;}
.ad-btn{
	position:absolute;
	z-index:100;
	right:1px;
	top:50px;
	height:102px;

}
.ad-btn span{ display:block;height:34px; width:150px; padding:0px 0px 0px 0px; margin:0px; padding:0px; overflow:hidden;}
.ad-btn span.ad-btn1{ background-color:#000;}
.ad-btn span.ad-btn2{ background-color:#636363;}
.ad-btn span.ad-btn3{ background-color:#9a9a9a;}
.slide-ad .ad-btn span a{ line-height:34px; color:#fff; display:block; padding:0px 30px 0px 10px; background:url(/images/bg.png) no-repeat right -263px; text-decoration:none; }
.prodbox{ padding:20px 0 0 0;}
.ad-btn span a:hover{ line-height:34px; color:#fff; display:block; padding:0px 30px 0px 10px; background:#A80202 url(/images/bg.png) no-repeat right -263px }
.prodbox{ padding:20px 0 0 0;}
.prod-tit{ height:47px; background:url(/images/bg2_05.gif) repeat-x bottom; }
.titbg2{background:url(/images/red.gif) repeat-x bottom;}
.titbg3{background:url(/images/green.gif) repeat-x bottom;}
.titbg4{background:url(/images/org.gif) repeat-x bottom;}
.prod-t-h{ float:left;  height:40px; overflow:hidden; width:150px; background:url(/images/bg.png) no-repeat 10px -76px; *background-position:left -75px;}
.h-bg{ background:url(/images/bg.png) no-repeat 10px -119px; *background-position:10px-118px;}
.h-bg2{ background:url(/images/bg.png) no-repeat 10px -161px; *background-position:10px -160px;}
.h-bg3{ background:url(/images/bg.png) no-repeat 10px -204px; *background-position:10px -203px;}
.prod-n-more{ float:left; width:804px; height:20px; padding-top:15px; padding-right:15px; white-space:nowrap;}
.prod-n-more ul li{ float:right; padding:0px 10px; background:url(/images/xi_03.gif) no-repeat right; white-space:nowrap}
.prod-n-more ul li.cm{ width:70px; margin-top:-5px; height:26px; background:url(/images/bg.png) no-repeat left -261px; line-height:26px; padding-right:15px; padding-left:0px; text-align:center;}
.prod-n-more ul li a{ color:#888;}
.prod-bd{ margin:20px 15px; padding:10px; height:530px; border:1px solid #007394;  }
.men-l{ float:left; width:530px;}
.men-p{ float:left; width:265px; height:145px;}
.men-p .pro-pic{ float:left; width:122px; height:122px; }
.men-p .pro-pic a{ display:block;  width:120px; height:120px; overflow:hidden; border:1px solid #eee;}
.men-p .pro-pic a:hover{ border:1px solid #D00;}
.men-p .men-cont{ float:left; padding-left:10px; width:122px; line-height:20px;}
.prod-ct{ float:left; width:186px; padding-right:10px; }
.men-bd{ padding:10px 0px; height:216px;}
a.productimg{ display:block; width:163px; height:163px; border:1px solid #e0e0e0;}
a.productimg:hover{ border:1px solid #D00;}
.men-bd-b{ float:left; width:165px; padding:0px 10px;}
.men-bd-b img{}
.pro-n{ padding:8px 0 0 0; }
.men-bd-b .pro-n p{ height:20px; line-height:20px; width:165px; overflow:hidden; }
.pad{ padding:0px; height:560px; border:1px solid #940000;}
.pad4{ padding:10px 0 0 0;}
.pad5{ padding:0px; height:560px; border:1px solid #097d00;}
.pad6{ padding:0px; height:560px; border:1px solid #ff7200;}
.pad2{ padding:0px 10px;}
.pad7{ padding:20px 10px 0px 10px;}
.pad3{ padding-bottom:10px;}
.pad8{ padding:10px 0 40px 0;}
.pad9{ padding:15px 0 15px 0;}
.floorMain {position:relative; height:300px; background-color:#000;}
.floorMain a {position:absolute; }
.floorMain a.item1 {left:0;top:0;}
.floorMain a.item2 {left:237px;top:0;}
.floorMain a.item3 {left:237px;top:150px;}

.floorMain a.item4 {left:474px;top:0px;}
.floorMain a.item5 {left:711px;top:0px;}
.floorMain a.item6 {left:711px;top:150px;}
.floorMain a.hover {}
.picm{filter:alpha(opacity=75);-moz-opacity:0.75;-khtml-opacity:0.75;opacity:0.75;}
.picm2{filter:alpha(opacity=100);-moz-opacity:0;-khtml-opacity:1;opacity:1;}
.mask {position:absolute;background:#000;opacity:0;filter:alpha(opacity=0);left:0;top:0;width:237px;}
.m1 {height:300px;}
.m2 {height:300px;}
.m3 {height:300px;}
.m4 {height:300px;}
.sweet{ padding:0 0 15px 0;}
.floorMain a.qv1 {left:0;top:0;}
.floorMain a.qv2 {left:264px;top:0;}
.floorMain a.qv3 {left:264px;top:220px;}
.floorMain a.qv4 {left:413px;top:220px;}
.floorMain a.qv5 {left:562px;top:220px;}
.floorMain a.qv6 {right:0px; top:0px;}
.floorMain a.qv7 {right:0px; top:220px;}
.brand{ border-top:4px solid #b4b4b4; height:288px}
.left-brand{ float:left; width:364px; height:273px; background-color:#000;}
.left-brand ul li{ float:left; display:blockl; width:91px; height:91px; overflow:hidden; }
.left-brand ul li img{ border-bottom:1px solid #ddd;border-right:1px solid #ddd;}
.rgt-p{ float:left; padding:0px 0px 0px 8px; width:603px;}
.rgt-p .brand-pro{ float:left; width:190px; padding-left:16px; padding-top:20px}
.rgt-p .brand-pro .brand-proimg a{ display:block; border:1px solid #ddd; background:url(/images/bg3.gif) repeat-x; padding:4px;}
.rgt-p .brand-pro .brand-proimg a:hover{ border:1px solid #d00;}
.rgt-p .brand-pro p{ height:20px; padding-top:8px; line-height:20px; width:190px; overflow:hidden;}
.brand-ad{ float:right; width:169px; background-color:#f7f7f7; height:288px; border-left:1px solid #e0e0e0;}
.help-center{ padding:55px 0 0 0; margin:0px auto; background:url(/images/footbg.gif) repeat-x;}

.help-center-box{ width:980px; margin:0px auto;}
.help-center dl{float:left}
.help-center dl{width:150px;padding-left:8px}
.help-center .help-center-service{width:122px}
.help-center-acount{border-left:1px solid #f6f6f6;width:158px; height:164px;padding-left:28px;float:left; background:url(/images/contact.jpg) no-repeat 10px 15px;}
.help-center-acount p{visibility:hidden}
.help-center dl a{color:#999}
.help-center dl a:hover{color:#C00}
.help-center dt{height:18px;line-height:99em;overflow:hidden;margin-bottom:14px; background:url(/images/help.png) no-repeat;}
.help-center dd{line-height:1.9}
.help-center-about dt{background-position:0px 0px}


.guarantee{padding:20px 0}
.guarantee-cont{ background:url(/images/gut.jpg) no-repeat center;width:900px;height:55px;overflow:hidden;margin:0 auto}
.guarantee-cont ul{visibility:hidden}

.help-info{ float:left; width:150px; padding-left:8px; padding-top:18px;}
.help-tit{ height:18px; margin-bottom:14px;}
.help-center-about{background-position:0px 0px}
.help-center-novice{background-position:0px -19px}
.help-center-pay{background-position:0px -40px}
.help-center-exp{background-position:0px -60px}
.help-center-service{background-position:0px -79px}
.help-info ul li{ line-height:22px;}
.help-info ul li a{ color:#999;}
.help-info ul li a:hover{ color:#a10000;}
.pubcertify{margin-left:auto;margin-right:auto;width:500px;text-align:center; height:45px;}
.pubcertify a{float:left; display:block; height:45px;text-indent:-99em;margin-right:10px;overflow:hidden;zoom:1; background:url(/images/help.png) no-repeat ;}
.pubcertify a.pubcertify:after{content:"";clear:both;height:0;visibility:hidden;display:block}
.pubcertify a.pubcertify-mast{width:64px;width:58px; background:url(/images/help.png) no-repeat 0px -100px;}
.pubcertify a.pubcertify-visa{width:58px;background-position:0px -148px}
.pubcertify a.pubcertify-visashop{width:83px;background-position:0px -190px}
.pubcertify a.pubcertify-safe{width:46px;background-position:0px -234px}
.pubcertify a.pubcertify-gscer{width:40px;background-position:right -236px}
.pubcertify a.pubcertify-credit{background-position:0px -282px;width:114px;height:41px!important}
.copyright{ padding:20px 0 40px 0; text-align:center;}
#bottom-cart{ margin:0px auto; width:900px; border:2px solid #9D1111; height:36px; background:url(/images/help.png) no-repeat 10px -322px;} 
.cart-info{ width:690px; padding:8px 0px; height:20px; padding-left:200px; }
.cart-info .forpay{ float:left; padding-right:40px; width:100px;}
.cart-info .forpay .forpay-b{ border:1px solid #d0d0d0; padding:2px 8px; height:16px;}
.cart-info .forpay .forpay-b span{ float:left; display:block; line-height:16px; padding:0px 10px 0px 0px; float:left; border-right:1px solid #ddd; }
.cart-info .forpay .forpay-b a{ display:block; line-height:16px ;float:right; padding:0px 8px 0px 0px; color:#9A0505; font-weight:bold; }
.w980{ width:980px; height:190px;}
.cart-info .coll2{ padding-left:50px; width:120px;}
.return-top{ float:right; padding:5px 0px; width:15px; background:url(/images/help.png) no-repeat 0px -360px;}
.return-top a{ display:block; width:15px; height:15px;}
