.wrap {
    margin: 0 auto;
    width: 980px;
}

.filter {
    background-color: #F9F7F4;
    border: 1px dashed #EEEEEE;
    margin-bottom: 20px;
    padding: 8px 10px;
}

.filter p {
    margin: 2px 0;
}

.filter p a, .filter p .label {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 2px 0;
    padding: 0 3px;
    vertical-align: top;
}

.filter .label {
    color: #999999;
}

.filter p .on {
    background-color: #B9935C;
    color: #FFFFFF;
}

.filter p a {
    margin: 2px 5px;
}

a {
    text-decoration: none;
}

.filter-content {
    display: inline-block;
    vertical-align: top;
    width: 780px;
}

.filter p a {
    margin: 2px 5px;
}

.filter a {
    color: #333333;
}

.list-main {
    float: left;
    width: 700px;
}

.list {
    margin-right: -10px;
}

.list .item {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    width: 340px;
}

a.coupon {
    outline: 0 none;
}

.coupon {
    border: 2px solid #BA8C70;
    display: block;
    font-size: 14px;
    height: 146px;
    position: relative;
    text-align: center;
    width: 336px;
}

a.coupon .click-fix {
    background: url("about:blank") repeat scroll 0 0 transparent;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

a b, a span {
    cursor: pointer;
}

s, b, i {
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

.coupon .left {
    background: url("http://wunxin.com/images/coupon-bg.png") repeat-x scroll 0 0 transparent;
    height: 146px;
    left: 0;
    position: absolute;
    top: 0;
    width: 150px;
}

.coupon .left i {
    background: url("http://wunxin.com/images/rule-bg.png") repeat-y scroll 0 0 transparent;
    display: inline;
    float: right;
    height: 146px;
    width: 5px;
}

.coupon .site {
    background-color: #FFFFFF;
    border: 1px solid #F9D4BD;
    display: inline;
    float: left;
    height: 118px;
    margin: 14px 0 0 14px;
    width: 118px;
}

.coupon .site .icon {
    border: 1px solid #FAFAFA;
    margin: 30px auto 8px;
    padding: 3px 8px;
    position: relative;
}

.coupon .site .icon, .coupon .site .icon img {
    display: block;
    height: 40px;
    width: 90px;
}

.coupon .site .name {
    color: #333333;
}

.coupon .right {
    background-color: #FFFFFF;
    height: 146px;
    position: absolute;
    right: 0;
    top: 0;
    width: 186px;
}

.coupon .nums {
    color: #404040;
    display: block;
    margin: 15px 0 10px;
}

.coupon .nums b {
    color: #EF1720;
    font: 20px/1.5 tahoma;
    margin: 3px;
    vertical-align: -3px;
}

.coupon .btn {
    background: url("http://wunxin.com/images/s2.png") no-repeat scroll 0 -130px transparent;
    display: block;
    height: 30px;
    margin: 0 auto;
    width: 75px;
}

a.coupon:hover .right {
    background-color: #FFFEDD;
}
a.coupon:hover .btn {
    background: url("http://wunxin.com/images/s2.png") no-repeat scroll 0 0 transparent;
}
.coupon .shadow-right, .coupon .shadow-bottom, .coupon .corner {
    font-size: 0;
    position: absolute;
    visibility: hidden;
}
a.coupon:hover .shadow-right, a.coupon:hover .shadow-bottom, a.coupon:hover .corner {
    visibility: visible;
}

.coupon .shadow-right {
    background-color: #D9D9D9;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #F2F2F2;
    height: 146px;
    right: -5px;
    top: 0;
    width: 1px;
}

.coupon .shadow-right, .coupon .shadow-bottom, .coupon .corner {
    font-size: 0;
    position: absolute;
    visibility: hidden;
}

.coupon .shadow-bottom {
    background-color: #D9D9D9;
    border-bottom: 1px solid #F2F2F2;
    border-top: 1px solid #CCCCCC;
    bottom: -5px;
    height: 1px;
    left: 0;
    width: 336px;
}

.coupon .shadow-right, .coupon .shadow-bottom, .coupon .corner {
    font-size: 0;
    position: absolute;
    visibility: hidden;
}

.coupon .corner {
    background: url("http://wunxin.com/images/s2.png") no-repeat scroll -15px -206px transparent;
    bottom: -5px;
    font-size: 0;
    height: 7px;
    right: -5px;
    transition: all 0.1s ease 0s;
    width: 7px;
}

a.coupon:hover .corner {
    background-position: 0 -191px;
    height: 32px;
    width: 32px;
}


.coupon .shadow-right, .coupon .shadow-bottom, .coupon .corner {
    position: absolute;
    visibility: hidden;
}

.list .info {
    color: #666666;
    margin-top: 7px;
}

.list .info i {
    color: #B6B6B6;
    margin: 0 14px;
}

.list .hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-image: none;
    border-style: dashed none none;
    border-width: 1px medium medium;
    display: inline-block;
    font-size: 0;
    height: 0;
    margin: 17px 0 20px;
    vertical-align: top;
    width: 700px;
}

.pager {
    font-size: 14px;
    text-align: center;
}

.pager .pre, .pager .next {
    background: url("http://wunxin.com/images/conpon_bg1.png") no-repeat scroll -278px 0 transparent;
    height: 37px;
    line-height: 37px;
    margin: 0 10px;
    width: 91px;
}

.pager a, .pager span {
    display: inline-block;
}

.pager .on {
    background: url("http://wunxin.com/images/conpon_bg1.png") no-repeat scroll -149px 0 transparent;
    width: 36px;
}

.pager a, .pager span {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin: 0 3px;
}

.pager a, .pager span {
    background: url("http://wunxin.com/images/conpon_bg1.png") no-repeat scroll -370px -36px transparent;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin: 0 3px;
    width: 38px;
}

.sidebar {
    float: right;
    width: 250px;
}

.boxs {
    border: 1px solid #E0E0E0;
    color: #333333;
    margin-bottom: 10px;
    overflow: hidden;
}

.boxs h3 {
    background: url("http://wunxin.com/images/h3-bg.png") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #E0E0E0;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 5px 0 15px;
}

.step ul {
    line-height: 42px;
    margin: 10px 15px;
}

ol, ul {
    list-style: none outside none;
}

.step ul .step1 b {
    background: url("http://wunxin.com/images/s2.png") no-repeat scroll -32px -161px transparent;
}

.step ul b {
    display: inline-block;
    height: 29px;
    margin: 5px 12px 0 0;
    vertical-align: top;
    width: 31px;
}

.step ul span {
    color: #964141;
}

.step ul .step2 b {
    background: url("http://wunxin.com/images/s2.png") no-repeat scroll 0 -161px transparent;
}

.step ul .step3 b {
    background: url("http://wunxin.com/images/s2.png") no-repeat scroll -33px -191px transparent;
}

.boxs {
    border: 1px solid #E0E0E0;
    color: #333333;
    margin-bottom: 10px;
    overflow: hidden;
}

.boxs h3 {
    background: url("http://wunxin.com/images/h3-bg.png") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #E0E0E0;
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 5px 0 15px;
}

.boxs h3 .more {
    color: #C90101;
    display: inline;
    float: right;
    font-size: 12px;
    font-weight: normal;
}

.hot ul {
    line-height: 30px;
    margin: 5px 0 10px;
}

.hot .top3 {
    line-height: 34px;
}

.hot li {
    vertical-align: top;
    display: block;
    height: 34px;
    overflow: hidden;
}

.hot ul a {
    color: #333333;
    display: block;
}

.hot .top3 a b {
    background: url("http://wunxin.com/images/s2.png") no-repeat scroll -76px 0 transparent;
    color: #CF0102;
    font: 18px/26px tahoma;
    margin: 4px 9px 4px 13px;
}

.hot ul a b {
    display: inline-block;
    height: 26px;
    text-align: center;
    vertical-align: top;
    width: 26px;
}
.use_area{
    height: 16px;
    overflow: hidden;
    display: block;
    float: right;
    width: 185px;
}


.main {
    float: left;
    width: 700px;
}

.detail {
    padding: 20px 15px;
}

.detail .coupon {
    float: left;
}

.detail .info {
    color: #333333;
    float: right;
    width: 305px;
}

.detail .info p {
    margin: 6px 0;
}
.detail .info label {
    color: #666666;
    display: inline-block;
    width: 63px;
}


.detail .info .tip {
    color: #666666;
}
.detail .info p {
    margin: 6px 0;
}

.detail .info label {
    color: #666666;
    display: inline-block;
    width: 63px;
}
.detail .remark h4, .mine .remark h4 {
    color: #404040;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 10px;
}

.detail .remark p, .mine .remark p {
    color: #666666;
    line-height: 22px;
    white-space: pre-wrap;
}

.detail .remark h4, .mine .remark h4 {
    color: #404040;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 10px;
}

.detail .remark p, .mine .remark p {
    color: #666666;
    line-height: 22px;
    white-space: pre-wrap;
}

.detail .info label {
    color: #666666;
    display: inline-block;
    width: 63px;
}

.vcode input {
    border: 1px solid #E0E0E0;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    padding: 0 2px;
    vertical-align: middle;
    width: 64px;
}

.vcode img {
    height: 30px;
    margin-left: 10px;
    vertical-align: middle;
    width: 100px;
}

.vcode a {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.detail .info .btn-get {
    background: url("http://wunxin.com/images/s2.png") no-repeat scroll 0 -64px transparent;
}
.detail .info .btn-get, .detail .info .btn-got, .detail .info .btn-none {
    display: inline-block;
    height: 32px;
    margin-top: 10px;
    width: 96px;
}

.detail .info .btn-got {
    background: url("http://wunxin.com/images/s2.png") no-repeat scroll -115px -33px transparent;
}